/**
 *  Cooper Black
 *   - coopbla.ttf
 *   - coopbli.ttf
 **/

@font-face {
	font-family: 'Cooper BlkHd BT';
    src: url('Cooper Black/coopbla.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
	font-family: 'Cooper BlkIt BT';
    src: url('Cooper Black/coopbli.ttf');
    font-weight: bolder;
    font-style: italic;
}

/**
 *  Cooper Medium
 *   - cooperm.ttf
 *   - coopermi.ttf
 **/

@font-face {
	font-family: 'Cooper Md BT';
    src: url('Cooper Black/cooperm.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Cooper Md BT';
    src: url('Cooper Black/coopermi.ttf');
    font-weight: 400;
    font-style: italic;
}

/**
 *  Cooper Light
 *   - cooperb.ttf
 *   - cooperbi.ttf
 *   - cooperl.ttf
 *   - cooperli.ttf
 **/

@font-face {
	font-family: 'Cooper Lt BT';
    src: url('Cooper Black/cooperb.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Cooper Lt BT';
    src: url('Cooper Black/cooperbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: 'Cooper Lt BT';
    src: url('Cooper Black/cooperl.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Cooper Lt BT';
    src: url('Cooper Black/cooperli.ttf');
    font-weight: 400;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

html, body {
	font-family: 'Cooper Black LT', serif;
}

